Django==5.1.3
djangorestframework==3.15.2
django-cors-headers==4.7.0
python-decouple==4.2.0
psycopg2-binary==2.9.10   # PostgreSQL
marshmallow==3.26.1       # optional, if you use it
plotly==5.22.0            # optional, if you use charts
bcrypt==4.1.3             # for password hashing (optional if not used)
email-validator==2.1.1    # for validating emails
pillow==11.1.0            # for handling images (media files)
gunicorn==20.1.0         # for deployment
whitenoise==6.5.0        # for serving static files in production